.footer{
    margin:40px 0;
    border-top: 3px solid rgba(117, 115, 115, 0.1);
    align-items: center;
    display:flex;
    flex-direction: column;
    padding-top: 30px;
    width:100%;
    .footer_icon{
        font-size:40px;
        color:pink;
        margin-bottom:20px;
    }
    .footer_text{
        font-weight: 800;
        color: rgb(0,0,0,0.2);
        text-transform: uppercase;
    }

}